@use '../function/to-relative-size' as *;

:root {
  --primary-heading: #{to-rpx(30)};
  --secondary-heading: #{to-rpx(24)};
  --section-header: #{to-rpx(18)};
  --sub-title: #{to-rpx(18)};
  --card-title: #{to-rpx(15)};
  --card-copy-small: #{to-rpx(15)};
  --body-copy-small: #{to-rpx(14)};
  --message-time-stamp: #{to-rpx(12)};
  --button-label: #{to-rpx(14)};
  --card-subtitle: #{to-rpx(10)};

  --tab-bar-height: #{to-rpx(70)};

  --color-sage: #87bcbf;
  --color-rust: #d97d54;
  --color-drab: #324755;
  --color-onyx: #1b1c20;
  --color-slate: #6e8ca0;
  --color-snow: #ffffff;
  --color-ice: #f0f3f4;
  --color-fossil: #c8d1d3;
  --color-sand: #b9b0a2;
}
