:root {
  --primary-heading: 60rpx;
  --secondary-heading: 48rpx;
  --section-header: 36rpx;
  --sub-title: 36rpx;
  --card-title: 30rpx;
  --card-copy-small: 30rpx;
  --body-copy-small: 28rpx;
  --message-time-stamp: 24rpx;
  --button-label: 28rpx;
  --card-subtitle: 20rpx;

  --color-sage: #87bcbf;
  --color-rust: #d97d54;
  --color-drab: #324755;
  --color-onyx: #1b1c20;
  --color-slate: #6e8ca0;
  --color-snow: #ffffff;
  --color-ice: #f0f3f4;
  --color-fossil: #c8d1d3;
  --color-sand: #b9b0a2;
}
