:root {
  --primary-heading: 30;
  --secondary-heading: 24;
  --section-header: 18;
  --sub-title: 18;
  --card-title: 15;
  --card-copy-small: 15;
  --body-copy-small: 14;
  --message-time-stamp: 12;
  --button-label: 14;
  --card-subtitle: 10;

  --color-sage: #87bcbf;
  --color-rust: #d97d54;
  --color-drab: #324755;
  --color-onyx: #1b1c20;
  --color-slate: #6e8ca0;
  --color-snow: #ffffff;
  --color-ice: #f0f3f4;
  --color-fossil: #c8d1d3;
  --color-sand: #b9b0a2;
}
