.primary-heading {
  font-size: var(--primary-heading);
  font-weight: 700;
}

.secondary-heading {
  font-size: var(--secondary-heading);
  font-weight: 700;
}

.section-header {
  font-size: var(--section-header);
  font-weight: 700;
}

.sub-title {
  font-size: var(--sub-title);
  font-weight: 400;
}

.card-title {
  font-size: var(--card-title);
  font-weight: 700;
}

.card-copy-small {
  font-size: var(--card-copy-small);
  font-weight: 300;
}

.body-copy-small {
  font-size: var(--body-copy-small);
  font-weight: 300;
}

.message-time-stamp {
  font-size: var(--message-time-stamp);
  font-weight: 300;
}

.button-label {
  font-size: var(--button-label);
  font-weight: 600;
}

.card-subtitle {
  font-size: var(--card-subtitle);
  font-weight: 300;
}
