.switch-tab {
  --switch-tab-inactive-background-color: #e4e7e8;
  --switch-tab-active-background-color: var(--color-snow);
  --switch-tab-inactive-text-color: #b1b1b1;
  --switch-tab-active-text-color: #334856;

  display: flex;

  &__item {
    position: relative;
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: to-rpx(50.5);
    font-size: to-rpx(16);
    font-weight: 700;
    border-bottom: 2px solid transparent;
    color: var(--switch-tab-inactive-text-color);
    background-color: var(--switch-tab-inactive-background-color);
    transition: 0.3s 0.1s border-color;

    &::before {
      content: "";
      position: absolute;
      left: 100%;
      top: 0;
      width: 0;
      height: 100%;
      border-bottom: 2px solid transparent;
      transition: 0.2s left linear, 0.2s width linear;
    }

    &:hover::before {
      width: 100%;
      left: 0;
      border-color: var(--color-rust);
      transition-delay: 0.1s;
    }

    &:hover ~ &::before {
      left: 0;
    }

    &--active {
      border-color: var(--color-rust);
      background-color: var(--switch-tab-active-background-color);
      color: var(--switch-tab-active-text-color);

      & ~ &::before {
        left: 0;
      }
    }
  }
}
