.menu-expand {
  .uni-drawer__content {
    width: to-rpx(319) !important;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0 3px 100vh inset rgba(0, 0, 0, 0.35);
  }

  &__close-btn {
    padding: calc(var(--status-bar-height) + to-rpx(20)) 0 0 to-rpx(30);
    font-size: to-rpx(22);
    font-weight: 700;
    transition: color 0.2s;

    &:active {
      color: var(--color-rust);
    }
  }

  &__menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: to-rpx(60);
    width: 100%;
    text-align: center;

    &--item {
      font-size: to-rpx(22);
      font-weight: 700;
      color: #222326;
      transition: color 0.2s;

      &-active,
      &:active {
        color: var(--color-rust);
      }
    }
  }

  &__logo {
    align-self: center;
    width: to-rpx(113.9);
    height: to-rpx(30.78);
    margin-bottom: to-rpx(48);
  }
}
